.Card{
    text-align: center;
    justify-self: center;
background-color: rgb(255, 255, 255);
width: 55rem;
display: flex;
flex-direction: column;
font-size: x-large;
}
.Card .icons{
    margin:  0 4px;
    width: 54,5rem;
    height: 32px;
    background-color: aquamarine;
    border-radius: 9px;
    border: 1px solid black;
}
.Card .id{
    font-size: xx-large;
    border: double var(--green-500);
}
.Card p{
    
    background-color:var(--green-100);
    color: black;
    text-align: center;
    margin:4px;
    border: double var(--green-500);
    
}
.Card h3{
    margin: 0 4PX;
    color: black;
    background-color: var(--green-400);
    
}