.header{
   text-align: center;
}

.perfil{
   width: 7rem;
   height: 5rem;
   border-radius: 8px;
   border: 4px solid rgb(80, 17, 17);
   border: 3px inset rgb(113, 209, 113);
}
.container{
   margin: 4px;
   border: solid 3px white;
}