#root {
    --white:#ffffff;
    --gray-100: #e1e1e6;
    --gray-300: #c4c4cc;
    --gray-400: #8d8d99;
    --gray-600: #323238;
    --gray-700: #29292e;
    --gray-800: #202024;
    --gray-900: #121214;
    --gray-500: #00875f;
  
}
*{
  
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
 .body{
 margin:0;
 margin-top: 10px;

 } 
 input{
  margin:0;
  max-width: 100%;
 }
 button{
  padding: 8px;
  margin-left: 14px;
  margin-right: 8px;
  background-color: rgb(253, 228, 0);
  border-radius: 8px;
  border: none;
  color: rgb(0, 0, 0);
  font-weight: bolder;
 }
 .container{
  width: 480px;
  height: 720px;
  border: #e1e1e6;
  border-radius: 9px;

 }