#root {
 
  margin: 0;
  padding: 0;
 
  
}

/* .header{
  display: flex;
  justify-content: space-between;
}

.btn{   
  padding-left: 10px;
  margin: 0, auto;    
}

.detalhes{
  display: flex;
  justify-content: space-around;
}

.status{
  display: flex;
  justify-content: space-between;
  background-color: aliceblue;
} */
